<p>welcome works!</p>

<div class="container">
    <a routerLink="/employees" class="btn btn-dark">Employees</a>
    &nbsp;
    <a routerLink="/departments" class="btn btn-dark">Departments</a>
    &nbsp;
    <a routerLink="/departments" class="btn btn-dark">Add Department</a>
    &nbsp;
    <a routerLink="/employees" class="btn btn-dark">Add Employees</a>
</div>


<!-- <div class="container overflow-hidden">
    <div class="row gy-5">
      <div class="col-6">
        <div class="p-3 border bg-light">Custom column padding</div>
      </div>
      <div class="col-6">
        <div class="p-3 border bg-light">Custom column padding</div>
      </div>
      <div class="col-6">
        <div class="p-3 border bg-light">Custom column padding</div>
      </div>
      <div class="col-6">
        <div class="p-3 border bg-light">Custom column padding</div>
      </div>
    </div>
  </div> -->
